.ReviewCard {
  display: flex;
  flex-direction: column;
}
.userProfile {
  display: flex;
}
.userName {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.info__first {
}
.score {
  margin-left: 6px;
}
.nickname {
}

.imageContainer {
}
.context {
  font-size: 1.2em;
}

.review__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date {
  color: grey;
}
