.ReviewCard {
  display: flex;
  flex-direction: column;
}
.userProfile {
  display: flex;
  justify-content: space-between;
}
.profileBox {
  display: flex;
}
.userName {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: center;
}
.content {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.info__first {
  display: flex;
}
.score {
  margin-left: 8px;
}
.nickname {
}

.imageContainer {
  width: 100%;
  height: 30vh;
  margin-bottom: 12px;
}
.context {
  font-size: 1.2em;
}

.review__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
}
.date {
  color: grey;
}
