.cartContainer {
  position: absolute;
  top: 10%;
  left: 90%;
  z-index: 1005;
  font-size: 1.8em;
  color: blue;
}
.mapContainer {
  height: 60vh;
}
.wishListContainer {
  display: flex;
  height: 25vh;
}
