.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.routeCarousel {
  position: fixed;
  z-index: 10;

  max-width: 768px;
  max-height: 128px;
  width: 80%;
  height: 20%;
  bottom: 6%;
}

.drawerButton {
  /* /* width: 24px; */
}

.bottomDrawer {
  position: fixed;
  z-index: 10;
  bottom: 1%;
}
