.routeListCard {
  /* height: 20%; */
  /* width: 100%; */
  /* width: 2fr; */
  padding: 5%;
  margin-top: 10px;
  background-color: wheat;
}

.routeName {
  font-size: 1.2rem;
}

.routeName :hover {
  background-color: grey;
}

.cartButton {
  border-radius: 25%;
  float: right;
}

.routeList {
}
