@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Song+Myung&display=swap");

.RouteListCard {
  display: flex;
  flex-direction: column;
  height: 12vh;
  justify-content: center;
  width: 100%;
  padding-left: 5%;
  margin-top: 25px;
  background-color: white;
  border-radius: 15px;
}

.infoBox {
  color: black;
  display: flex;
  flex-direction: column;
}
.rootName {
  font-size: 150%;
  font-weight: 600;
  font-family: "Gaegu", cursive;
}
.date {
  font-size: 85%;
}
.mapIcon {
  font-size: 110%;
  color: pink;
}
.placeCount {
  padding-left: 3%;
  font-family: "Song Myung", serif;
}

.cartButton {
  border-radius: 25%;
  float: right;
}

.routeList {
}
