.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 0.3px solid #c4c4c4; */
  background-color: white;
  padding: 8px 12px;
  position: sticky;
  top: 0;
  height: 8vh;
}

.backIcon {
  color: #ff57b3;
}

.title {
  font-size: 18px;
  font-weight: 600;
}
