.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.3px solid #c4c4c4;
  background-color: white;
  padding: 8px 12px;
}

.backIcon {
  color: #ff57b3;
}
