.userProfile {
  display: flex;
  justify-content: space-between;
}
.profileBox {
  display: flex;
}
.userName {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: center;
}
.editBox {
  color: gray;
  opacity: 0.8;
}
.edit {
  margin-right: 16px;
}
