html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #e9ecef;
}

.routeCardContainer {
  overflow-y: scroll;
}

.routeCard {
  background-color: white;
  margin: 6px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.row1 {
  display: flex;
  align-items: center;
}

.row1 h3 {
  margin: 2px 6px;
  color: #999;
}

/* img {
  background-image: url("https://picsum.photos/200");
} */

.thumbnail {
  width: 88px;
  height: 88px;
  background-color: orange;
}

.mapButton {
  position: fixed;
  display: sticky;
  bottom: 22%;
  right: 2.5%;
  background-color: #1890ff;
  border: none;
  outline: none;
  padding: 10px;
}
