html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.routeCard {
  overflow-y: scroll;
}

.mapButton {
  position: fixed;
  display: sticky;
  bottom: 22%;
  right: 2.5%;
  background-color: #1890ff;
  border: none;
  outline: none;
  padding: 10px;
}
