.SideMyProfile {
  width: 33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
}

.header {
  background-color: #424242;
}
.iconBox {
  float: right;
  margin-right: 5%;
}
.icon {
  color: white;
}
.nicknameBox {
  display: flex;
  flex-direction: column;
}
.avatarBox {
}
