.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functionBox {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.routeCards {
  width: 95%;
}
