.HotplacePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  overflow-x: hidden;
}
.searchContainer {
  display: flex;
  position: absolute;
  align-items: center;
  top: 3%;
  width: 80%;
  z-index: 1002;
}
.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 6vh;
  background-color: white;
}
.inputBar {
  padding-left: 5%;
  width: 100%;
  border: none;
}
.inputBar:focus {
  outline: none;
}
.toggle {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  width: 20%;
  color: #00acee;
}
.profileToggle {
  margin-left: 12px;
}
.carouselContainer {
  position: absolute;
  bottom: 8%;
  /* height: 17vh; */
  width: 95%;
  z-index: 1001;
  background-color: white;
  border-radius: 12px;
  display: none;
}
.placeCardContainer {
  height: 17vh;
  width: 90%;
  margin: auto;
}
.mapContainer {
  width: 100%;
  height: 93%;
}
.categoryContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 7vh;
}

@media screen and (max-width: 768px) {
  .placeCardContainer {
    width: 100%;
  }
}
