.HotplacePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.searchContainer {
  display: flex;
  position: absolute;
  align-items: center;
  top: 3%;
  width: 90%;
  height: 6vh;
  margin-left: 5%;
  z-index: 1002;
  background-color: white;
}
.form {
  width: 80%;
}
.inputBar {
  padding-left: 5%;
  width: 100%;
  border: none;
}
.inputBar:focus {
  outline: none;
}
.toggle {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
  width: 20%;
  color: #00acee;
}

.mapContainer {
  width: 100%;
  height: 100%;
}
.categoryContainer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
}
