.container {
  background-color: white;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

.top {
  display: flex;
  margin: 8px 12%;
  justify-content: space-around;
  align-items: center;
}

.routeName {
  font-size: 18px;
  font-weight: 600;
}

.creator {
  font-size: 15px;
  color: #6aafe6;
}

.bottom {
  margin: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.places {
  border: none;
  outline: none;
  background-color: #19a0fb;
  color: white;
  border-radius: 6px;
  width: 25%;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
}

.places:hover {
  transform: scale(1.2);
  cursor: pointer;
}
