.PostImages {
  display: flex;
  width: 100%;
  height: 100%;
}
.image {
  height: 100%;
  width: 100%;
}
.verticalLine {
  width: 4px;
  height: 100%;
}
.imageTwo {
  width: calc(50% - 2px);
  height: 100%;
}
.imageLeftContainer {
  width: calc(55% - 2px);
  height: 100%;
}
.imageleft {
  width: 100%;
  height: 100%;
}
.imageRightContainer {
  width: calc(45% - 2px);
  height: 100%;
}
.horizontalLine {
  width: 100%;
  height: 4px;
}
.imageRight {
  width: 100%;
  height: calc(50% - 2px);
}
.imageLastContainer {
  display: flex;
  width: 100%;
  height: calc(50% - 2px);
  align-items: center;
  justify-content: center;
}
.imageLast {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}
.imageCounter {
  position: absolute;
}
.moreNumber {
  color: white;
  font-weight: 600;
  font-size: 1.4em;
  opacity: 1;
}
.Carousel {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.image,
.imageTwo,
.imageleft,
.imageRight {
  object-fit: cover;
}
