.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBox {
  width: 90%;
  height: 200px;
  border: solid 1px black;
  border-radius: 8px;
  margin: 12px 0;
}

.imgBox {
  overflow: auto;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.img1 {
  width: 100%;
  height: 100px;
  background-color: green;
}

.img2 {
  width: 50%;
  height: 50px;
  background-color: red;
}

.img3 {
  width: 50%;
  height: 50px;
  background-color: yellow;
}
