.SideMyProfile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}

.header {
  background-color: #424242;
  height: 20%;
}
.avatarBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}
.nicknameBox {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}
.nicknameBox > span {
  width: 100%;
  margin-left: 10%;
  color: white;
  font-weight: 600;
}
.nickname {
  font-size: 1.4em;
}

.iconBox {
  position: absolute;
  right: 64px;
}
.icon {
  font-size: 1.2em;
  color: grey;
  margin-right: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 30px;
  height: 80%;
}
.tags {
  height: 75%;
  border-bottom: 1px solid grey;
  margin-bottom: 10%;
}
.section__tagBox {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
}
.section__tag {
  font-weight: 500;
}
.tag__count {
  position: absolute;
  right: 12px;
  font-weight: 500;
  color: gray;
}
.logoutBtn {
  border: none;
  background-color: transparent;
  color: red;
}
