.container {
}

.title {
  font-weight: 700;
}

h1 {
  margin: 0;
}

.col1 {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 14px auto;
}

.addButton {
  padding: 8px;
  background-color: white;
  outline: none;
  border: solid 1px black;
  border-radius: 8px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardBox {
  width: 90%;
  height: 200px;
  border: solid 1px black;
  border-radius: 8px;
  margin: 12px 0;
}

.imgBox {
  width: 100%;
  display: flex;
}
