.RouteNameBox {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-top: 7%;
  height: 10vh;
  border-radius: 8px;
  font-size: 1.5em;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}
