.container {
  user-select: none;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.header {
  width: 100%;
}

.body {
  margin: 0 auto;
  width: 85%;
}

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
}
