.ShoppingCart {
  background-color: #ebecec;
}
.itemContainer {
  margin-bottom: 5%;
}
.bottom {
  display: flex;
  flex-direction: column;
  color: grey;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
}
.addRouteBtn {
  border-color: #00acee;
  color: #00acee;
  margin-bottom: 10px;
}
