.CategoryBar {
  display: flex;
  width: 100%;
  height: 100%;
}
.CategoryBarList {
  display: flex;
  width: 100%;
  height: 7vh;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background: #fff;
  z-index: 1;
  list-style: none;
}
.CategoryBarList > li {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.CategoryBarList > li:not(:last-child) {
  border-right: 1px solid #909090;
}

.CategoryBarList > li:hover {
  background-color: #e6e6e6;
}
.CategoryBarList > li > span {
  font-size: 0.8em;
}
.icon {
  color: red;
}
