.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatarBox {
  display: flex;
  flex-direction: column;
}
.nickname {
  text-align: center;
}

.selectorBox {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
}
.selector {
  display: flex;
  width: 100%;
  flex-basis: 1;
  justify-content: center;
  transition: 1000;
}
.selector__title {
  text-align: center;
}

.selected__color {
  opacity: 1;
  color: #ed6ab8;
}
