@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");

.reviewList {
  width: 100%;
  height: 100%;
}
.reviewList__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviewCountBox {
  display: flex;
  flex-direction: row;
}
.reviewCount {
  margin-left: 12px;
  color: #25b8f8;
}
.reviewContainer {
  padding-bottom: 2px;
  border-bottom: 2px solid lightgrey;
}
